presence-tracks section-title {
  padding-top: 0px;
}

energy-track-table, card-play-track-table {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

energy-track, card-play-track, energy-track-ring {
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 130px;
  position: relative;
}

energy-track:first-of-type {
  background-image: url('../../images/board/EnergyInitialBlank.png');
  height: 160px;
}

card-play-track:first-of-type {
  background-image: url('../../images/board/CardPlayInitialBlank.png');
  height: 160px;
}

energy-track {
  background-image: url('../../images/board/TrackEnergyBlank.png');
}

energy-track-ring, card-play-track {
  background-image: url('../../images/board/CardPlayRing.png');
}

presence-tracks icon.push, presence-tracks icon.forget-power-card {
  height: 90px;
  position: absolute;
  margin-top: 18px;
  margin-left: 18px;
}

presence-tracks icon.move-presence-1, presence-tracks icon.move-presence-2, presence-tracks icon.move-presence-3 {
  position: absolute;
  margin-top: 20px;
  margin-left: -3px;
}

energy-track icon.reclaim-one, card-play-special icon.reclaim-one {
  background-image: url('../../images/board/Reclaimone.png');
}

card-play-special icon.reclaim-one, energy-track-ring icon.reclaim-one {
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 90px;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
}

energy-track-ring icon.reclaim-one {
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 90px;
  margin-top: 18px;
  margin-bottom: -7px;
  margin-left: 18px;
}

element-bottom icon.reclaim-one {
  position: absolute;
  margin-top: 30px;
  margin-left: 33px;
}

energy-track icon.any, energy-track icon.fire, energy-track icon.water, energy-track icon.moon, energy-track icon.air, energy-track icon.animal, energy-track icon.plant, energy-track icon.sun, energy-track icon.earth, card-play-special icon.any, card-play-special icon.fire, card-play-special icon.water, card-play-special icon.moon, card-play-special icon.air, card-play-special icon.animal, card-play-special icon.plant, card-play-special icon.sun, card-play-special icon.earth {
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 60px;
  width: 60px;
  position:absolute;
  margin-left: 35px;
  margin-top: 35px;
}

element-top icon.air, element-top icon.fire, element-top icon.any, element-top icon.water, element-top icon.animal, element-top icon.earth, element-top icon.plant, element-top icon.sun, element-top icon.moon {
  position: absolute;
  height: 65px;
  width: 65px;
  margin-left: 15px;
  margin-top: 15px;
}

element-bottom icon.air, element-bottom icon.fire, element-bottom icon.any, element-bottom icon.water, element-bottom icon.animal, element-bottom icon.earth, element-bottom icon.plant, element-bottom icon.sun, element-bottom icon.moon {
  position: absolute;
  height: 65px;
  width: 65px;
  margin-left: 50px;
  margin-top: 50px;
}

energy-track:first-of-type subtext {
  display: none;
}

card-play-track card-play {
  background-image: url('../../images/board/CardPlayBlank.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 75px;
  width: 75px;
  display: block;
  position: absolute;
  margin-left: 38px;
  margin-top: 28px;
}

card-play value, card-play-top value, energy-track value {
  font-family: 'Gobold Extra2';
  font-size: 36pt;
  display: inline-block;
  position:absolute;
}

card-play value {
  margin-left: 12px;
  margin-top: 7px;
}

card-play-top value {
  font-size: 31pt;
  margin-left: 14px;
  margin-top: 10px;
}

energy-track value {
  margin-top: 37px;
  margin-left: 51px;
}

energy-top, energy-bottom {
  background-image: url('../../images/board/EnergyBlank.png');
  height: 90px;
  width: 90px;
}

card-play-top{
  background-image: url('../../images/board/CardPlayBlank.png');
  position: absolute;
  height: 90px;
}

energy-top {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
}

card-play-top {
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 12px;
  margin-top: 11px;
  height: 72px;
  width:100%;
}

energy-top value {
  font-family: 'Gobold Extra2';
  font-size: 21pt;
  display: inline-block;
  position: absolute;
  margin-left: 39px;
  margin-top: 28px;
}

energy-track subtext, energy-track-ring subtext, card-play-track subtext {
  font-family: 'Lato SemiBold';
  font-size: 16pt;
  font-style: italic;
  display: block;
  width: 130px;
  text-align: center;
  margin-top: 5px;
}
energy-track subtext::before, energy-track-ring subtext::before, card-play-track subtext::before {
  content: '';
  display: block;
  width: 130px;
  height: 130px;
}

presence-track-image {
  background-image: url('../../images/board/Presence_Without_Text.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 1089px;
  height: 428px;
  z-index: -1;
  top: -64px;
  left: -24px;
}

presence-tracks {
  display: block;
  top: 300px;
  margin-left: 10px;
  padding-left: 50px;
  padding-bottom: 0px;
  
  background-image: url('../../images/board/Presence_Without_Text.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom left;
}
